{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'css/chatbot.css' %}" rel="stylesheet">

</head>

<body>
      <!-- Just an image -->
  <nav class="navbar navbar-light bg-light fixed-top shadow-sm">
    <a class="navbar-brand" href="#">
    <img src="{% static 'img/favicon.ico' %}" width="50px"/><span>  IMMOBIL</span>
    </a>
  </nav>

  <div class="px-0 py-0 chat-box bg-white">

  {% for m in messages %}

    <!-- Receiver Message-->
    <div class="media my-3 w-75 ml-auto">
      <div class="media-body">
          <div class="bg-p rounded py-3 px-3 mb-0">
              <p class="text-small mb-0 text-receive text-white">{{ m.user_message }}</p>
            </div>
            <p class="small mb-0 text-muted">Vous</p>
        </div>
    </div>

    <!-- Sender Message-->
    <div class="media my-3 w-75">
      <div class="media-body">
        <div class="bg-s rounded py-3 px-3">
          <p class="text-small mb-0 text-receive">{{ m.bot_response }}</p>
        </div>
          <p class="small mb-0 text-muted">Bot</p>
      </div>
    </div>
  {% empty %}
    Aucun message.
  {% endfor %}
        
  </div>

  <!-- Typing area -->
  <form action="{% url 'send_message' %}" method="post" class="bg-light fixed-bottom shadow-lg">
    {% csrf_token %}
    <div class="input-group">
      <input name="user_message" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control bg-i rounded-0 border-0 py-4 bg-s">
      <div class="input-group-append">
        <button id="button-addon2" type="submit" class="btn btn-link bg-i"> <i class="fa fa-paper-plane"></i></button>
      </div>
    </div>
  </form>

</body>
</html>
