body, html {
    height: 100%;
}

.bg_info {
    background-color: #0c0041;
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin: 6px 0;
  padding-left: 10px;
  font-style: italic;
  color: gray;
}

.typing-dots span {
  animation: blink 1.4s infinite both;
  font-size: 18px;
  margin-right: 3px;
}

.typing-dots span:nth-child(2) { animation-delay: .2s; }
.typing-dots span:nth-child(3) { animation-delay: .4s; }

@keyframes blink {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: .2; }
}

.messages-box {
    flex: 1;
    overflow-y: auto;
}

.messages-list {
    padding-left: 0;
    height: 100%;
}

.message {
    margin-bottom: 15px;
    list-style: none;
}

.message-text {
    padding: 10px;
    border-radius: 5px;
}

.sent {
    background-color: #dcf8c6;
}

.received {
    background-color: #f1f0f0;
}

.message-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
}

.message-input {
    flex: 1;
    border-radius: 0;
    border-right: none;
}

.btn-send {
    border-radius: 0;
}

.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
