body {
    padding-top: 90px;
}

.bg-p {
    background-color: #062897;
    /* max-width: 800px; */
}

.fa {
    color: #062897;
}

.bg-s {
    background-color: #e2e2e2;
    /* max-width: 800px; */
}

.bg-i {
    background-color: #f8f9fa!important;
}

.text-receive {
    color: #676463;
}

.text-small {
  font-size: 1rem;
}

.text-muted {
    color: #e2e2e2;
}

.btn-outline-primary {
    color: #676463;
    border-color: #676463;
}

.messages-box,
.chat-box {
    overflow-y: scroll;
    margin: 10px 16px;
    height: 100%;
    padding-bottom: 40px !important;
    overflow: auto;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 1rem;
    color: #999;
}
