{% extends 'main/main_base.html' %}
{% load static %}

{% block tilte %} 
    IMMOBIL - properties
{% endblock %}

<!-- Page content -->
{% block content %}

    <div class="bg-light flex-fill">
      <div class="container mt-4" style="max-width: 1000px;">
        <section id="all-properties-section">
          <div id="all-properties" class="row">
            {% for property in properties %}
              <div class="col-md-4 mb-3 mt-3">
                <a href="{% url 'property_detail' property.id %}">
                <div class="card h-100">
                  <img src="{% static 'img/real_estate.png' %}" class="card-img-top" alt="image">
                  <div class="card-body">
                    <h3 class="mt-2">{{ property.property_type }}</h3>
                    <div class="article-meta mb-2">
                      Prix : {{ property.price }} FCFA | <span class="article-category">{{ property.transaction_type }}</span>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            {% endfor %}
          </div>
      </div>
    </div>
{% endblock %}
<!-- Page content End -->
