{% extends 'main/main_base.html' %}
{% load static %}

{% block tilte %} 
    IMMOBIL - properties
{% endblock %}

<!-- Page content -->
{% block content %}

  <div class="container mt-4" style="max-width: 800px;">

    <h2 class="mb-3">{{ property.property_type }}</h2>

    <p class="text-muted">
        Type de transaction: {{ property.transaction_type }}
    </p>

    <p class="text-muted">
        Prix: {{ property.price }} FCFA
    </p>
  
    <!-- {% if property.image %}
        <img src="{{ property.image.url }}" class="img-fluid mb-4" width="800" alt="{{ property.title }}">
    {% endif %} -->

    <div>
        {{ property.type_info|linebreaks }}
    </div>
  </div>

{% endblock %}
<!-- Page content End -->
